@import "tailwindcss";

:root {
  --background: #454647;
  --foreground: #333333;
  --brand-blue: #91d6e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-barlow-sans);
  --color-brand-blue: var(--brand-blue);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow-sans);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
  caret-color: white !important;
}
